<header class="header">
  <div class="container">

    <div class="logo">LUMIER</div>

    <!-- ここ追加 -->
    <button class="menu-toggle" id="menu-toggle">
      ☰
    </button>

    <nav id="nav">
      <a href="/">トップへ</a>
      <a href="/about">ルミエールのご紹介</a>
      <a href="/price">料金のご案内</a>
      <a href="#">会員様のご紹介</a>
      <a href="#">お客様の声</a>
    </nav>

    <div class="header-right">
      <a href="https://line.me/R/ti/p/@214sfchk" class="line-btn" target="_blank">
        LINE無料相談
      </a>
    </div>

  </div>
</header>
